<hlm-date-picker
  class="date-picker-shell"
  captionLayout="dropdown"
  [date]="selectedDate()"
  [maxDate]="maxDate"
  [defaultFocusedDate]="defaultFocusedDate"
  [formatDate]="formatDate"
  [autoCloseOnSelect]="true"
  (dateChange)="selectDate($event)"
>
  <hlm-date-picker-input
    [inputId]="inputId"
    [placeholder]="placeholder()"
    [forceInvalid]="invalid()"
    [calendarAriaLabel]="ariaLabel()"
    clearAriaLabel="ניקוי תאריך"
    [parseDate]="parseDate"
    [formatInputDate]="formatInputDate"
  />
</hlm-date-picker>
